/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased !important;
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  height: 100%;
}