/* Estilização dos componentes ao topo da tela */
header {
  background: url("../img/background2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  filter: blur(100px);
  pointer-events: none;
  z-index: 0;
}

hgroup {
  color: white;
  font-size: 3.5em;
  z-index: 3;
}

h1 {
  margin-bottom: 30px;
  line-height: 110px;
}

h1,
h2 {
  font-weight: 400;
}

h1 > span {
  font-size: 1.2em;
  font-weight: bold;
  text-transform: none;
}

h2 > span {
  background-color: #5e00ff;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}

/* Estilização do bloco de Sobre */
div#about {
  background-color: #eff1f3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 150px 100px;
  position: relative;
  align-items: center;
  justify-content: center;
}

div#about div.img-dev div.background-img {
  width: 450px;
  height: 650px;
  background-color: #5e00ff;
}

div#about div.img-dev img {
  width: 450px;
  position: absolute;
  top: 220px;
  left: 180px;
}

div#about div.about-text h3 {
  color: #656274;
  font-size: 2.5em;
  margin-bottom: 30px;
}

div#about div.about-text p {
  color: #50514f;
  font-size: 1.8em;
  margin-bottom: 20px;
  width: 90%;
}

/* Seção com alguns projetos */
div#projects {
  padding: 150px 100px;
}

div#projects h3 {
  color: white;
  background-color: #5e00ff;
  font-size: 2.5em;
  width: 500px;
  text-align: center;
  margin: 0 auto 50px auto;
  font-weight: bold;
  text-transform: uppercase;
}

div#projects .project-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

div#projects .project-content .project-items {
  position: relative;
}

div#projects .project-content .project-items img {
  transition: 0.5s;
}

div#projects .project-content .project-items:hover {
  z-index: 1;
}

div#projects .project-content .project-items:hover img {
  transform: scale(1.1);
  filter: brightness(40%);
}

div#projects .project-content .project-items:hover div.info-image p {
  display: block;
}

div#projects .project-content .project-items img {
  width: 100%;
}

div#projects .project-content .project-items div.info-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5em;
  color: white;
  transition: 0.5s;
  text-align: center;
}

div#projects .project-content .project-items div.info-image p {
  display: none;
}

div#projects .project-content a#see-more {
  background-color: #eff1f3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

div#projects .project-content a#see-more p {
  color: #5e00ff;
  font-size: 1.8em;
  font-weight: bold;
  text-decoration: none;
}

div#projects .project-content a#see-more img {
  width: 15px;
  margin-left: -5px;
  margin-top: -20px;
}

div#projects .project-content a#see-more:hover p {
  text-decoration: underline;
}

div#projects .project-content a#see-more:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

/* Informações de Contato */
div#contact {
  background-color: #eff1f3;
  padding: 150px 100px;
}

div#contact h3 {
  color: white;
  background-color: #5e00ff;
  font-size: 2.5em;
  width: 300px;
  text-align: center;
  margin: 0 auto 50px auto;
  font-weight: bold;
  text-transform: uppercase;
}

div#contact p {
  color: #656274;
  font-size: 1.8em;
}

div#contact div.dev-contact {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

div#contact div.dev-contact div.contact-email {
  display: flex;
  align-items: center;
}

div#contact div.dev-contact div.contact-phone {
  display: flex;
  align-items: center;
}

div#contact div.dev-contact div img {
  width: 40px;
  margin-right: 10px;
}

div#contact div.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

div#contact div.social-media a {
  margin: 20px;
  transition: 0.3s;
}

div#contact div.social-media a:hover {
  transform: scale(1.2);
}

div#contact div.social-media img {
  width: 50px;
}

footer {
  background-color: #5e00ff;
  padding: 20px 0;
}

footer p {
  color: white;
  font-size: 1.4em;
  text-align: center;
}

footer a {
  color: white;
}

/* Estilização para dispositivos menores */
@media screen and (max-width: 768px) {
  header {
    padding: 0 10px 0 10px;
  }

  hgroup {
    font-size: 1.2em;
  }

  h1 {
    text-align: left;
    margin-bottom: 20px;
    line-height: 35px;
  }

  h2 {
    text-align: left;
  }

  h2 > span {
    padding-left: 5px;
    padding-right: 5px;
  }

  /* Estilização do bloco de Sobre */
  div#about {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px 10px;
  }

  div#about div.img-dev div.background-img {
    margin-top: -100px;
    width: 300px;
    height: 400px;
  }

  div#about div.img-dev img {
    width: 300px;
    position: absolute;
    top: 100px;
    left: 40px;
  }

  div#about div.about-text h3 {
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  div#about div.about-text p {
    font-size: 1.4em;
    margin: 0 auto 20px auto;
    width: 100%;
  }

  /* Seção com alguns projetos */
  div#projects {
    padding: 20px 10px;
  }

  div#projects h3 {
    font-size: 2em;
    width: auto;
  }

  div#projects .project-content {
    grid-gap: 15;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }

  div#projects .project-items {
    box-shadow: 3px 3px 5px #ccc;
  }

  div#contact {
    padding: 20px 10px;
  }

  div#contact h3 {
    font-size: 2em;
  }

  div#contact p.text-contact {
    font-size: 1.4em;
    margin-left: auto;
    margin-bottom: auto;
  }

  div#contact div.dev-contact {
    flex-direction: column;
    justify-content: start;
    font-size: 0.6em;
  }

  div#contact div.dev-contact div.contact-email {
    align-items: center;
    display: flex;
    margin-bottom: 20px;
    width: 100%;
  }

  div#contact div.dev-contact div.contact-phone {
    display: flex;
    align-items: center;
    width: 100%;
  }

  div#contact div.dev-contact div img {
    width: 40px;
  }

  div#contact div.social-media a {
    margin: 10px;
  }

  footer p {
    color: white;
    font-size: 1.2em;
    text-align: center;
  }
}
